<div class="row">
	<div class="col-3">
		<h2>User info</h2>
		<%= attachment_image_tag current_user, :profile_image, :fill, '200', '200', fallback: "no_image.jpg" %>
			<table class="table">
	            <tbody>
	              <tr>
	                <th>name</th>
	                <th><%= @user.name %></th>
	              </tr>
	              <tr>
	                <th>introduction</th>
	                <th><%= @user.introduction %></th>
	              </tr>
	            </tbody>
	        </table>

	</div>

	<div class="col-6">
	</div>

	<div class="col-3">
	</div>
</div>