// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video{
    margin-top: 50px;
}

.row-video{
    background-image: url("ビデオカメラ音符.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}