<div class="row">
    <div class="col-12">
		<h4 class="image_list">画像一覧</h4>
		    <% @images.each do |image| %>
				<div class="col-3">
						   <%= link_to image_path(image.id) do %>
						    <%= attachment_image_tag image,:image, height: '240', width: '240', class: "profile-thumb", fallback: "no_image.jpg" %>
						   <% end %>
				</div>
		</h4>
	</div>
	
	<%= paginate @image_pages %>
	        <% end %>
</div>